## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import dataframe_image as dfi

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.49,75,86,16.64,overcast clouds
1,1,Petropavlovsk-Kamchatskiy,RU,53.0452,158.6483,19.99,45,0,2.24,clear sky
2,2,Mataura,NZ,-46.1927,168.8643,57.47,52,83,8.14,broken clouds
3,3,Busselton,AU,-33.6500,115.3333,71.04,54,63,13.02,broken clouds
4,4,Rocha,UY,-34.4833,-54.3333,67.44,97,98,4.12,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.49,75,86,16.64,overcast clouds
5,5,Hobart,AU,-42.8794,147.3294,76.01,47,20,10.36,few clouds
22,22,Rikitea,PF,-23.1203,-134.9692,79.09,74,4,17.63,light rain
28,28,Georgetown,MY,5.4112,100.3354,87.75,70,20,5.01,few clouds
36,36,Tonj,SS,7.2737,28.6822,77.97,19,36,8.23,scattered clouds
38,38,Limbang,MY,4.7500,115.0000,86.11,82,100,3.04,overcast clouds
39,39,Bathsheba,BB,13.2167,-59.5167,77.61,65,20,19.57,few clouds
41,41,Ahipara,NZ,-35.1667,173.1667,76.39,90,89,23.31,overcast clouds
44,44,Atuona,PF,-9.8000,-139.0333,77.54,77,8,13.49,light rain
46,46,Auki,SB,-8.7676,160.7034,77.76,88,100,3.69,heavy intensity rain

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                174
City                   174
Country                173
Lat                    174
Lng                    174
Max Temp               174
Humidity               174
Cloudiness             174
Wind Speed             174
Current Description    174
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.49,75,86,16.64,overcast clouds
5,5,Hobart,AU,-42.8794,147.3294,76.01,47,20,10.36,few clouds
22,22,Rikitea,PF,-23.1203,-134.9692,79.09,74,4,17.63,light rain
28,28,Georgetown,MY,5.4112,100.3354,87.75,70,20,5.01,few clouds
36,36,Tonj,SS,7.2737,28.6822,77.97,19,36,8.23,scattered clouds
38,38,Limbang,MY,4.7500,115.0000,86.11,82,100,3.04,overcast clouds
39,39,Bathsheba,BB,13.2167,-59.5167,77.61,65,20,19.57,few clouds
41,41,Ahipara,NZ,-35.1667,173.1667,76.39,90,89,23.31,overcast clouds
44,44,Atuona,PF,-9.8000,-139.0333,77.54,77,8,13.49,light rain
46,46,Auki,SB,-8.7676,160.7034,77.76,88,100,3.69,heavy intensity rain

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,82.49,overcast clouds,3.0707,172.7902,
5,Hobart,AU,76.01,few clouds,-42.8794,147.3294,
22,Rikitea,PF,79.09,light rain,-23.1203,-134.9692,
28,Georgetown,MY,87.75,few clouds,5.4112,100.3354,
36,Tonj,SS,77.97,scattered clouds,7.2737,28.6822,
38,Limbang,MY,86.11,overcast clouds,4.7500,115.0000,
39,Bathsheba,BB,77.61,few clouds,13.2167,-59.5167,
41,Ahipara,NZ,76.39,overcast clouds,-35.1667,173.1667,
44,Atuona,PF,77.54,light rain,-9.8000,-139.0333,
46,Auki,SB,77.76,heavy intensity rain,-8.7676,160.7034,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
   
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
dfi.export(clean_hotel_df.head(10), 'clean_hotel_df.png')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,82.49,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
5,Hobart,AU,76.01,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
22,Rikitea,PF,79.09,light rain,-23.1203,-134.9692,People ThankYou
28,Georgetown,MY,87.75,few clouds,5.4112,100.3354,Cititel Penang
36,Tonj,SS,77.97,scattered clouds,7.2737,28.6822,Lakan Hotel
...,...,...,...,...,...,...,...
674,Voh,NC,81.84,overcast clouds,-20.9667,164.7000,Le gîte du Koniambo
678,Saint-Joseph,RE,82.78,broken clouds,-21.3667,55.6167,"""Plantation Bed and Breakfast"
686,Sinnamary,GF,75.72,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
695,Atambua,ID,81.99,overcast clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
705,Daru,PG,83.77,overcast clouds,-9.0763,143.2092,Daru Lodge

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,82.49,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
5,Hobart,AU,76.01,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
22,Rikitea,PF,79.09,light rain,-23.1203,-134.9692,People ThankYou
28,Georgetown,MY,87.75,few clouds,5.4112,100.3354,Cititel Penang
36,Tonj,SS,77.97,scattered clouds,7.2737,28.6822,Lakan Hotel
...,...,...,...,...,...,...,...
674,Voh,NC,81.84,overcast clouds,-20.9667,164.7000,Le gîte du Koniambo
678,Saint-Joseph,RE,82.78,broken clouds,-21.3667,55.6167,"""Plantation Bed and Breakfast"
686,Sinnamary,GF,75.72,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
695,Atambua,ID,81.99,overcast clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
705,Daru,PG,83.77,overcast clouds,-9.0763,143.2092,Daru Lodge

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))